<div class="">
    <input type="checkbox"> Pytanie</input>
    <div>
        <ul style="list-style: none;">
        <li><input type="checkbox">Odp1</input></li>
        <li><input type="checkbox">Odp2</input></li>
        <li><input type="checkbox">Odp3</input></li>
        <li><input type="checkbox">Odp4</input></li>
        <li><input type="checkbox">Odp5</input></li>
        <li><input type="checkbox">Odp6</input></li>
        <li><input type="checkbox">Odp7</input></li>
    </ul>
    </div>
</div>